/* @import "../node_modules/bootstrap/dist/css/bootstrap.css"; */

.react-calendar {
  width: 100%;
  border: 0px;
  margin-bottom: 12px;
}

#new-toolbox > div.toolbox-content > div.button-group-right > div:nth-child(2) { display: none; }

#root > div > div > nav > div > div.navbar-brand.header-logo > a.b-brand > div > span { margin-left: 176px;}

.logo-sidebar {
  width: auto !important;
  height: auto !important;
}

.menu-mati {
  color: #949495;
}
