/* @import "../node_modules/bootstrap/dist/css/bootstrap.css"; */

.react-calendar {
  width: 100%;
  border: 0px;
  margin-bottom: 12px;
}

#new-toolbox > div.toolbox-content > div.button-group-right > div:nth-child(2) { display: none; }

#root > div > div > nav > div > div.navbar-brand.header-logo > a.b-brand > div > span { margin-left: 176px;}

.logo-sidebar {
  width: auto !important;
  height: auto !important;
}

.menu-mati {
  color: #949495;
}

/* RESPONSIVE IMAGE */
.responsive-image-banner {
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
  background-position: center;
}
.responsive-image-content {
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  width: 100%;
  background-position: center;
}

.responsive-image-profile {
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
  width: 100%;
  background-position: center;
}

.responsive-image-forum {
  background-repeat: no-repeat;
  background-size: cover;
  height: 12vh;
  width: 25%;
  background-position: center;
}
/* END */